
   
[submodule "arena-web-core"]
	path = arena-web-core
	url = git@github.com:shymky/arena-web-core.git
[submodule "arena-persist"]
	path = arena-persist
	url = https://github.com/arenaxr/arena-persist 
[submodule "arena-account"]
	path = arena-account
	url = git@github.com:shymky/arena-account.git
